body {
  margin: 0px;
  font-family: "Helvetica Neue";
  background-color: #86e7fc; }

header {
  width: 100%;
  height: 70px;
  background-color: #e65555;
  margin-top: 0px;
  /*-webkit-box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.63);
  box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.63);*/ }
  
  header #navigation {
    width: 100%;
    height: 70px;
    background-color: inherit;
    margin-right: 5%;
    margin-top: none; }
	
  header a {
    text-decoration: none;
    color: white;
    padding: 23px 10px 24px 10px;
    font-weight: bold;
    font-size: 1.2em; }
	
  header a:hover {
    color: white;
    background-color: black; }
	
  header ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5%;
    float: right; }
	
  header li {
    height: 70px;
    list-style: none;
    display: block;
    float: left;
    margin-left: 0px;
    line-height: 70px;
    margin-top: 0px; }
	
  header #logo {
    margin-top: -6px;
    height: 70px;
    float: left;
    margin-left: 5%;
    font-size: 3.5em;
    font-family: "Futura";
    color: black;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; }

#introduction {
  width: 50%;
  background-color: #c8c8c8;
  margin: auto;
  margin-top: 2%;
  border-radius: 5px;
  padding: 10px; }

.infobox {
  width: 70%;
  height: auto;
  margin: auto;
  padding: 10px;
  background-color: white;
  text-align: left;
  border-radius: 5px; }

#outercontainer {
  min-height: 550px;
  width: 100%;
  float: left;
  margin-left: 0%;
  text-align: center;
  position: relative;
  margin-top: 0px;
  /*home page styles -----------------------------*/
  /*#featured{
  	background-color:$blue;
  }
  
  #resources{
  	background-color:$blue;
  }
  
  #articles{
  	background-color:rgba(230,230,230,1);
  	
  	.header{
  		color:rgba(120,120,120,1);
  	}
  }*/
  /*	card for home page --------------------------*/
  /*speed of flip*/
  /*this is for the flashcard page ---------------------------------*/
  /*#card{
  	width:40%;
  	height:300px;
  	margin-left:15%;
  	float:left;
  	margin-top:10%;
  	border-style:solid;
  }*/ }
  #outercontainer .section {
    width: 50%;
    height: 500px;
    border-color: black;
    float: left;
    color: white;
    text-align: center; }
	
  #outercontainer #featured {
    width: 60%;
    text-align: left;
    margin-left: 5%; }
	
  #outercontainer #signin {
    width: 35%; }
	
  #outercontainer #resources {
    background-color: white;
    color: black; }
	
  #outercontainer #articles {
    background-color: white;
    color: black; }
	
  #outercontainer hr {
    width: 100%;
    margin-bottom: 0px; }
	
  #outercontainer form {
    width: 50%;
    margin-top: 25%;
    text-align: center; }
	
    #outercontainer form .login {
      height: 35px;
      width: 200px;
      margin-top: 10px;
      font-size: 1.5em;
      border: none;
      border-radius: 5px;
      text-align: center;
      color: #b4b4b4; }
	  
   #facebook {
      height: 35px;
      width: 200px;
      background-color: #2e4775;
      color: white;
      margin: auto;
      font-size: 1.1em;
      font-weight: none; }
	  
    #outercontainer form .button {
      height: 20px;
      width: 100px;
      margin-top: 10px;
      background-color: #d2d2d2;
      border-style: none;
      border-radius: 5px;
      font-weight: bold;
      color: #828282;
      cursor: pointer;
      text-align: center; }
	  
  #outercontainer .header {
    font-size: 2em;
    margin-top: 10px;
    font-weight: bold; }
	
  #outercontainer #answerbox {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    background-color: #86e7fc;
    margin-top: 12px;
    line-height: 160px;
    float: left; }
	
  #outercontainer .answerbox2 .flipper,
  #outercontainer .answerbox2 .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
	
  #outercontainer #answerbox {
    margin-right: 10px;
    width: 150px;
    height: 150px; }
	
  #outercontainer .flipper {
    -webkit-transition: 0.2s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.2s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.2s;
    -o-transform-style: preserve-3d;
    transition: 0.2s;
    transform-style: preserve-3d; }
	
  #outercontainer #front, #outercontainer #back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #f0f0f0;
    border-width: 1px;
    border-color: #969696;
    border-style: solid;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    font-size: 3em;
    float: left;
    width: 100%;
    height: 150px;
    line-height: 150px;
    color: black;
    text-align: center; }
	
  #outercontainer #back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute; }
	
  #outercontainer .sidebar {
    height: 450px;
    background-color: none;
    width: 15%;
    margin-left: 5%; }
	
  #outercontainer .preview {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    background-color: whitesmoke;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #969696;
    border-radius: 5px; }
	
  #unanswered {
    float: left; }
	
  #answered {
    float: right;
    margin-right: 5%; }
	
  #middle {
    width: 70%;
    height: 450px;
    float: left;
    /*flipping animation*/
    /*speed of flip*/ }
	
    #card {
      width: 50%;
      height: 200px;
      margin: auto;
      margin-top: 100px;
      line-height: 200px;
      font-size: 3em;
      background-color: rgba(230, 85, 85, 0.3);
      border-style: solid;
      border-color: #e65555;
      border-width: 1px;
      border-radius: 10px; }
	  
    #answerinput {
      width: 50%;
      height: 50px;
      margin: auto;
      margin-top: 30px;
      background-color: white;
      border-color: rgba(88, 211, 247, 0.5);
      border-style: solid;
      border-width: 1px;
      font-size: 2em;
      color: grey;
      text-align: center;
      border-radius: 5px;
      outline: none; }
	  
     #result {
      height: 50px;
      width: 50px;
      font-size: 2em;
      float: right; }
	  
     #scoreholder {
      width: 40%;
      overflow: auto;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-bottom: 10px; }
	  
    #middle .scorebox {
      width: 47%;
      height: auto;
      float: left;
      background-color: gainsboro;
      border-radius: 5px;
      padding-top: 3px; }
	  
    #middle .title {
      width: 100%;
      height: 20px;
      float: left;
      font-size: .8em;
      color: white; }
	  
    #middle .score {
      width: 100%;
      height: 30px;
      margin-top: -10px;
      float: left;
      font-size: 1.5em;
      color: #969696; }
	  
    #middle .right {
      float: right; }
	  
    #outercontainer #middle #answerbox {
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      -o-perspective: 1000;
      perspective: 1000;
      background-color: #86e7fc;
      margin-left: 12px;
      margin-top: 12px;
      line-height: 160px; }
	  
	  
    #outercontainer #middle .answerbox2 .flipper,
    #outercontainer #middle .answerbox2 .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }
	  
    #outercontainer #middle #answerbox {
      margin: auto;
      width: 50%;
      height: 200px; }
	  
    #outercontainer #middle .flipper {
      -webkit-transition: 0.2s;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 0.2s;
      -moz-transform-style: preserve-3d;
      -o-transition: 0.2s;
      -o-transform-style: preserve-3d;
      transition: 0.2s;
      transform-style: preserve-3d; }
	  
    #outercontainer #middle #front, #outercontainer #middle #back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      background-color: whitesmoke;
      border-width: 1px;
      border-color: #969696;
      border-style: solid;
      border-radius: 5px;
      -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
      font-size: 3em;
      float: left;
      width: 100%;
      height: 200px;
      line-height: 200px; }
	  
    #outercontainer #middle #back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      position: absolute; }
	  
	 #qtype {
		 font-size:1em;
		 height:30px;
		 color:grey;
	 } 
	 
	 #atype {
		 font-size:1em;
		 height:30px;
		 color:grey;
	 } 
	 
	  
/*	  This is for the page with all the cards  ---------------------------*/
	  
	  
	  
	  
	  
	  

footer {
  width: 100%;
  height: 80px;
  background-color: white;
  color: black; }
  footer #footermain {
    width: 100%;
    height: 70px;
    border-top: 2px solid #eaeaea;
    margin: auto;
    padding-left: 5%; }
